/* Remove the navbar's default margin-bottom and rounded borders */
.navbar
{
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer
{
  background-color: #f2f2f2;
  padding: 25px;
}

img
{
    width:50%;
    margin:auto;
    object-fit:contain;
}


.name
{
    font-family: 'Asap', sans-serif;
}

.subheader
{
    font-family: 'Asap', sans-serif;
    font-size:6em;
}

.subheader2
{
    font-family: 'Asap', sans-serif;
    font-size:2em;
}

.row
{
    margin-bottom:5%;
}

.odd
{
    background-color:#EEEEEE;
}
